# Introduction of model_verification

This folder contains ways to verify and simplify physical models. 

## For Modelica models

## For C models

## For FMU models

## For CAD models

